@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0px;
    font-family: Bitter;
    font-weight: 500;
    z-index: 0;
}

img { 
    font-weight: 600;
    line-height: 2; 
    text-align: center;
    top: 0; bottom: 0; left: 0; right: 0;
    width: auto;
    margin: 10px;
    height: auto;
    display: block;
    position: relative;
}
  
img:before { 
    content: "We're sorry, the link below is broken :(";
    display: block;
    margin-bottom: 10px;
}
  
img:after { 
    content: "(url: " attr(src) ")";
    display: block;
    font-size: 12px;
}

header {
    margin: 0px;
    text-align: center;
    background-color: #2e59a3;
}

h1 {
    margin: 0;
    padding: 30px;
}

a {
    text-decoration: none;
    color: black;
}

.nav-bar {
    display: flex;
    width: 100%;
}

.nav-item {
    background-color: white;
    padding: 10px;
    border: 1px solid black;
}

.nav-item:hover {
    color: white;
    background-color: black;
    padding: 10px;
    border: 1px solid black;
    cursor: pointer;
}

#main {
    margin: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 600px;
}

.uploaded-item {
    width: 49%;
    height: 270px;
    margin-bottom: 0.5em;
    display: grid;
    grid-template-columns: 1fr 3fr;
    border: 2px solid black;
    border-radius: 7px;
}

.uploaded-image {
    display: block;
    top: 0; bottom: 0; left: 0; right: 0;
    width: 250px;
    height: 250px;
    max-height: 500px;
    margin: 10px;
    border: 1px solid grey;
}

.uploaded-card {
    display: grid;
    grid-template-rows: 10% 60% 10% 10%;
    height: 250px;
    gap: 10px;

    .uploaded-title {
        grid-row: 1;
    }
    .uploaded-description {
        grid-row: 2;
        overflow: auto;
    }
    .container {
        grid-row: 3;
    }
    .edit-del-btn {
        grid-row: 4;
    }
}

.edit-del-btn {
    bottom: 0;
    text-align: right;
    margin: 10px;
}

.btn {
    border: none;
    border-radius: 5px;
    padding: 5px 12px;
    color: white;
    background-color: #919191;
    margin-left: 7px;
}

.btn:hover {
    background-color: #808080;
    cursor: pointer;
}

.del, .make-sure-del {
    background-color: #eb5757;
}

.del:hover, .make-sure-del:hover {
    background-color: red;
    cursor: pointer;
}

.overlay, #popup { 
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.close-btn, .close-edit-btn {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
  
.close-btn:hover, .close-edit-btn:hover {
    color: #f1f1f1;
}

.overlay .close-btn, .close-edit-btn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

#popup-bin {
    text-align: center;
    font-size: 40px;
    border: 2px solid orangered;
    border-radius: 15px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background-color: white;
    width: 30%;
    height: 30%;
    overflow: auto;
}

fieldset {
    border: 2px solid black;
    border-radius: 5px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background-color: white;
    width: 65%;
    height: 65%;
    overflow: auto;
}

legend {
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    text-align: center;
    padding: 10px;
}

.form-inputs {
    display: flex;
    flex-direction: column;
    margin: 20px 0px 20px;
}

#form-reset,
#upload {
  border: 0;
  border-radius: 6px;
  padding: 7px 45px;
  margin-right: 3px;
}

#upload:hover,
#form-reset:hover {
  background-color: #0b6396;
  cursor: pointer;
}

input[type="submit"] {
  background-color: #1296e3;
  font-weight: bold;
}

input[type="reset"] {
  background-color: #cacccf;
  font-weight: bold;
}

.error {
    display: none;
    color: red;
}

footer {
    background-color: #2e59a3;
    padding: 1em 1em;
    box-shadow: 2px 2px 10px #f1f6f9;
}

footer ul {
    list-style: none;
    padding: 0;
    display: flex;
}
  
footer li {
    margin-right: 2em;
    display: flex;
    align-items: center;
}

footer a {
    text-decoration: none;
}
  
footer a:hover,
footer a:focus {
    color: #fd5f00;
}

.icon {
    margin: 0;
    width: 1.5em;
    margin-right: 0.25em;
}

footer a{
    font-size: 1.5em;
    color: #f9f8eb;
    text-transform: uppercase;
}

.subtitle{
    font-size: 1.5rem;
    color: #f9f8eb;
    font-style: italic;
}